QLTS_LG/Web References/WS_ORG/QLTS_ORG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HR_ORG">
        <s:complexType />
      </s:element>
      <s:element name="HR_ORGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HR_ORGResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HR_INFOR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaNV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HR_INFORResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HR_INFORResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HR_ORGSoapIn">
    <wsdl:part name="parameters" element="tns:HR_ORG" />
  </wsdl:message>
  <wsdl:message name="HR_ORGSoapOut">
    <wsdl:part name="parameters" element="tns:HR_ORGResponse" />
  </wsdl:message>
  <wsdl:message name="HR_INFORSoapIn">
    <wsdl:part name="parameters" element="tns:HR_INFOR" />
  </wsdl:message>
  <wsdl:message name="HR_INFORSoapOut">
    <wsdl:part name="parameters" element="tns:HR_INFORResponse" />
  </wsdl:message>
  <wsdl:portType name="QLTS_ORGSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HR_ORG">
      <wsdl:input message="tns:HR_ORGSoapIn" />
      <wsdl:output message="tns:HR_ORGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HR_INFOR">
      <wsdl:input message="tns:HR_INFORSoapIn" />
      <wsdl:output message="tns:HR_INFORSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QLTS_ORGSoap" type="tns:QLTS_ORGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HR_ORG">
      <soap:operation soapAction="http://tempuri.org/HR_ORG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HR_INFOR">
      <soap:operation soapAction="http://tempuri.org/HR_INFOR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QLTS_ORGSoap12" type="tns:QLTS_ORGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HR_ORG">
      <soap12:operation soapAction="http://tempuri.org/HR_ORG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HR_INFOR">
      <soap12:operation soapAction="http://tempuri.org/HR_INFOR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QLTS_ORG">
    <wsdl:port name="QLTS_ORGSoap" binding="tns:QLTS_ORGSoap">
      <soap:address location="http://10.224.50.222:49156/QLTS_ORG.asmx" />
    </wsdl:port>
    <wsdl:port name="QLTS_ORGSoap12" binding="tns:QLTS_ORGSoap12">
      <soap12:address location="http://10.224.50.222:49156/QLTS_ORG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>